@import "tailwindcss";
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.noscroll{
  overflow:hidden;
  
}
* {
  scrollbar-width: none;
}
* {
  -ms-overflow-style: none;
}
*{
  user-select: none;
}
.category:hover .word:before {
  width: 100%;
}
.word {
  position: relative;
}
.word::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 600ms all;
  background: white;
  width: 0%;
  height: 2px;
}

.arrow-item {
  overflow: hidden;
  clip-path: url(#arrowMask);
  -webkit-clip-path: url(#arrowMask);
  contain: paint;
}

.arrow-image {
  object-fit: cover;
  object-position: center;
}
.text-wrapper {
  position: relative;
}

.text-base {
  color: #d6d6d6;
}

.text-fill {
  position: absolute;
  right: 0;
  color: #111;
  clip-path: inset(0 100% 0 0);
}


